/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */

singularity.enabled = true

params {
    max_cpus = 40
    max_memory = "1000GB"
    max_time = "3d"
}

executor {
    queueSize = 40
    jobName = {"${task.process.tokenize(':')[-1]}.${task.tag}"}
}

process {
    executor = "slurm"
    queue = "shared,kill-shared,kill-exclusive"

    errorStrategy = "retry"
    maxErrors = "-1"
    maxRetries = 2

    withLabel: process_low {
        cpus = {check_max(6 * task.attempt, "cpus")}
        memory = {check_max(32.GB * task.attempt, "memory")}
        time = {check_max(2.h * task.attempt, "time")}
    }
    withLabel: process_medium {
        cpus = {check_max(10 * task.attempt, "cpus")}
        memory = {check_max(64.GB * task.attempt, "memory")}
        time = {check_max(4.h * task.attempt, "time")}
    }
    withLabel: process_high {
        queue = "shared"
        cpus = check_max(10, "cpus")
        memory = {
          check_max(
            64.GB*(task.attempt==1 ? 1 : 0) +
            74.GB*(task.attempt==2 ? 1 : 0) +
            100.GB*(task.attempt==3 ? 1 : 0),
            "memory")
        }
        time = {
          check_max(
            6.h*(task.attempt==1 ? 1 : 0) +
            24.h*(task.attempt==2 ? 1 : 0) +
            72.h*(task.attempt==3 ? 1 : 0),
            "time")
        }
    }

    withLabel: "plot" {
        errorStrategy = "ignore"        
    }
    withName: "FAST_TREE|PHYLOSEQ_UNIFRAC|LULU" {
         errorStrategy = "ignore"
    }
}
