/*
 * -----------------------------------------------------
 *  University of Hawaii at Manoa HPCC test config file
 * -----------------------------------------------------
 *
 */

singularity.enabled = true

executor{
    queueSize = 3
    jobName = {"${task.process.tokenize(':')[-1]}.${task.tag}"}
}

process {
    executor = "slurm"
    queue = "shared,exclusive,kill-shared,kill-exclusive"
    module = "tools/Singularity"

    errorStrategy = "retry"
    maxErrors = "-1"
    maxRetries = 2

    withLabel: process_low {
         cpus = check_max(1, "cpus")
         memory = check_max(4.GB, "memory")
         time = check_max(3.m, "time")
    }
    withLabel: process_medium {
         cpus = check_max(2, "cpus")
         memory = check_max(8.GB, "memory")
         time = check_max(6.m, "time")
    }
    withLabel: process_high {
         cpus = check_max(3, "cpus")
         memory = check_max(32.GB, "memory")
         time = check_max(30.m, "time")
    }
}
