/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */

singularity.enabled = true

executor {
    jobName = {"$task.tag"}
    queueSize = 40
}

process {
    executor = 'slurm'
    queue = 'shared,kill-shared,kill-exclusive'

    errorStrategy = "retry"
    maxRetries = 2

    withLabel: low_computation {
        cpus = {6 * task.attempt}
        memory = {32.GB * task.attempt}
        time = {2.h * task.attempt}
    }

    withLabel: medium_computation {
        cpus = {10 * task.attempt}
        memory = {64.GB * task.attempt}
        time = {4.h * task.attempt}
    }

    withLabel: high_computation {
        cpus = {10*(task.attempt==1 ? 1 : 0) +
                19*(task.attempt>1 ? 1 : 0)}
        memory = {120.GB*(task.attempt==1 ? 1 : 0) +
                  500.GB*(task.attempt==2 ? 1 : 0) +
                  1000.GB*(task.attempt==3 ? 1 : 0)}
        time = {3.h*(task.attempt==1 ? 1 : 0) +
                12.h*(task.attempt==2 ? 1 : 0) +
                24.h*(task.attempt==3 ? 1 : 0)}
    }
}
