/*
 * -----------------------------------------------
 *  University of Hawaii at Manoa HPCC config file
 * -----------------------------------------------
 *
 */

singularity.enabled = true

executor {
    jobName = {"${task.process.tokenize(':')[-1]}.${task.tag}"}
    queueSize = 40
}

process {
    executor = "slurm"
    queue = "shared,kill-shared,kill-exclusive"
    errorStrategy = "retry"
    maxErrors = "-1"

    withLabel: process_low {
	    maxRetries = 5
        cpus = {6 * task.attempt}
        memory = {32.GB * task.attempt}
        time = {2.h * task.attempt}
    }
    withLabel: process_medium {
	    maxRetries = 5
        cpus = {10 * task.attempt}
        memory = {64.GB * task.attempt}
        time = {4.h * task.attempt}
    }
    withLabel: process_high {
        maxRetries = 1
        cpus = 15
        memory = {64.GB*(task.attempt==1 ? 1 : 0) +
                  74.GB*(task.attempt==2 ? 1 : 0) +
                  100.GB*(task.attempt==3 ? 1 : 0)}
        time = {6.h*(task.attempt==1 ? 1 : 0) +
                24.h*(task.attempt==2 ? 1 : 0) +
                72.h*(task.attempt==3 ? 1 : 0)}
    }
    withLabel: 'plot' {
        errorStrategy = "ignore"        
    }
    withName: 'FAST_TREE|PHYLOSEQ_UNIFRAC|LULU' {
         errorStrategy = "ignore"
    }
}
